*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(210, 165, 30, 0.6);
}
header img {
  width: 90px;
}
header .subheader_wrap {
  text-align: center;
}
.home,
.form_wrap > *,
.btn_wrap,
label {
  display: block;
  width: 70%;
  margin: auto;
}
label > * {
  display: block;
  width: 100%;
}
label input,
label select {
  font-size: 15px;
  padding: 4px 0 7px 5px;
  transition-duration: 200ms;
}
label input:hover,
label select:hover {
  border-color: rgb(169, 169, 169);
}
input::placeholder {
  color: rgb(0, 0, 0);
}
.btn_wrap button {
  margin-right: 1rem;
}
.home .user_action {
  text-align: right;
}
button {
  border-width: 4px;
  border-style: solid;
  border-radius: 5px;
  border-color: rgb(169, 169, 169);
  padding: 5px;
  margin: 1rem 0;
  cursor: pointer;
  transition-duration: 200ms;
}
button:hover {
  background-color: rgb(169, 169, 169);
}
span {
  margin: 5px;
}
.secondary {
  font-size: 0.8rem;
  color: rgb(169, 169, 169);
}
.cabinet_wrap,
.left_block,
.right_block {
  display: flex;
}
.cabinet_wrap {
  max-width: 80%;
  margin: 2rem auto;
  align-items: center;
}
.left_block {
  position: fixed;
  top: 25%;
  flex-direction: column;
  flex: 0 0 30%;
  max-width: 30%;
  padding: 10px;
  border-right: 3px solid rgb(169, 169, 169);
}
.right_block {
  flex: 0 0 60%;
  max-width: 60%;
  margin: 3rem 0 0 auto;
}
.right_block div {
  width: 100%;
}
.right_block div .form_wrap form {
  width: 100%;
}
.toggle_input {
  display: block;
  position: relative;
  width: 100%;
  background-color: transparent;
  border: 3px solid rgb(169, 169, 169);
  border-radius: 7px;
  cursor: pointer;
  margin-bottom: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -moz-user-select: none;
  user-select: none;
  transition-duration: 300ms;
}
.toggle_input:hover,
.active {
  background-color: rgb(169, 169, 169);
}
input[type="radio"] {
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.radio_text {
  height: 17px;
  width: 100%;
  margin: 0 13px 14px 10px;
}
ul {
  margin-bottom: 2rem;
}
.list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid rgba(210, 165, 30, 0.6);
}
